@import "normalize.css";
@import "./variables.scss";

* {
  font-family: "Raleway", sans-serif;
  color: $mainGray;
}

h1 {
  @include screen-(470px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 400;
}

a,
h4 {
  font-weight: 200;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $mainBlue; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $mainGray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $mainRust; 
}
