@import "../global/variables.scss";

.abilityCard {
  &:not(:last-child) {
    margin-bottom: 64px;

    @include screen-(900px) {
      margin-right: 64px;
    }
  }

  &__img {
    height: 76px;
    width: 80px;
    display: block;
  }

  &__title {
    text-transform: uppercase;
  }

  &__content {
    line-height: 1.7;
  }
}
