@import "../global/variables.scss";

.gallery {
  background-color: $mainRust;
  padding-top: 136px;
  padding-bottom: 120px;

  h1 {
    text-align: center;
  }

  &__imgContainer {
      display: flex;
      flex-wrap: wrap;
      margin: 120px 64px 0 64px;

      &__card {
        flex: 1 0 40%;
        height: 360px;
        padding: 16px;

        img {
            height: 100%;
            display: block;
            margin: auto;
            box-shadow: 0 0 50px 5px rgba(0,0,0,0.2);
        }
      }
  }
}
