@import "../global/variables.scss";

.intro {
  background-color: $mainRust;
  padding-top: 104px;
  padding-bottom: 104px;

  @include screen-(600px) {
    padding-top: 208px;
    padding-bottom: 216px;
  }

  @include screen-(900px) {
    padding-top: 248px;
    padding-bottom: 392px;
  }

  &__container {
    margin: 0 40px;

    h1 {
      text-align: left;
      letter-spacing: 1px;
      line-height: 4rem;
    }

    @include screen-(900px) {
      margin: 0 176px;
    }
  }
}
