@import "../global/variables.scss";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background-color: $mainBlue;
  display: flex;
  align-items: center;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
  transition: all 0.2s;

  &__logoContainer {
    height: 100%;
    display: flex;
    flex: 4;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;

    @include screen-(700px) {
      margin-left: 60px;
    }

    &__logo {
      width: 32px;
      height: 47px;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0px 50px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    margin-right: 60px;

    @include screen-(700px) {
      flex: 6;
    }

    @include screen-(1200px) {
      flex: 3;
    }

    &_active {
      color: $mainRust;
    }

    a {
      @include screen-(700px) {
        display: inline;
      }

      display: none;
      font-weight: 200;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s;

      &:hover {
        transition: all 0.2s;
        color: $mainRust;
      }
    }
  }
}
