@import "../global/variables.scss";

.project {
  flex: 1 0 100%;

  @include screen-(900px) {
    flex: 1 0 40%;
  }

  &:not(:last-child) {
    margin-bottom: 64px;

    @include screen-(900px) {
      margin-bottom: 0;
    }
  }

  &__card {
    position: relative;

    &__frontImg {
      width: 100%;
      text-align: center;
    }

    &__backImg {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: 0.5s;
    }

    &:hover &__backImg {
      opacity: 1;
    }
  }
}
