@import "../global/variables.scss";

.work {
  background-color: $mainBlue;
  padding-top: 136px;
  padding-bottom: 80px;

  h1 {
    text-align: center;
  }

  &__abilityCardsContainer {
    display: flex;
    margin: 112px 64px 0 64px;
  }

  &__projectsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 288px 64px 0 64px;
  }
}
